[default]
name=name-db
user=user-db
password=password-db
host=host-db
port=port-db

[ambiente]
host=http://127.0.0.1
port_back=:8000/
port_front=:5178/

[email] 
user=user-email
password=password-email
